nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.navbar-left-logo{
    display: flex;
}

.logo{
    background-color: aqua;
}
.navbar-left{
    background-color: red;
}
.navbar-right{
    background-color: blueviolet;
}
main{
    background-color: yellow;
    display: flex;
}

.main-left{
    background-color: green;
    width: 37.5%;
}

.main-left-img img{
    min-width: 100%;
}

.main-right{
    background-color:goldenrod;
    width: 62.5%;
}